:root {
	/* primary color set */
	--color-primary-tints: theme(colors.sky.400);
	--color-primary: theme(colors.sky.500);
	--color-primary-shades: theme(colors.sky.600);

	/* extra color set */
	--color-secondary: theme(colors.slate.950);

	/* gray color set */
	--color-gray-light: #404756;
	--color-gray-neutral: #23272f;
	--color-gray-dark: #16181d;
	--color-white: theme(colors.slate.50);

	/* gradients set */
	--color-primary-gradient: linear-gradient(
		to bottom right,
		var(--color-primary-tints),
		var(--color-primary-shades)
	);
	--color-secondary-gradient: linear-gradient(
		to bottom right,
		rgba(56, 189, 248, 0.1),
		rgba(7, 89, 133, 0.1)
	);
	--color-gray-gradient: conic-gradient(
		from 90deg at -10% 100%,
		#2b303b 0deg,
		#2b303b 90deg,
		#16181d 1turn
	);
	--color-emerald-gradient: linear-gradient(
		to bottom right,
		var(--color-primary-tints),
		var(--color-primary-shades)
	);

	/* box shadows */
	--shadow-app: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
		0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
		0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
		0 3.5px 6px hsla(230, 13%, 9%, 0.09);

	/* variables */
	--nav-height: 5rem;
}
/* P8bTcw_j;+b:aLHHn\/H */
